target/
.classpath
.project
.settings/
*.iml
*nbactions.xml
.vscode/
.idea
nb-configuration.xml
hk2-configuration/persistence/hk2-xml/main/negative-output.xml
/bin/
external/asm-all/dependency-reduced-pom.xml
